body {
    padding: 0;
    background-color: antiquewhite;
}

form {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color:lightskyblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-top: 0;
    text-align: center;
}

label {
    margin-bottom: 30px;
    display: block;
}


#name,#E-mail,#phone,#Course,#semester,#address{
 width: 100%;
padding: 2px;
margin-bottom: 10px;
border: px solid black;
border-radius: 4px;

}